@page "/afspraak"
@using Oogarts.Client.Shared
@using Oogarts.Client.Shared.TeamComponents;
@using Oogarts.Shared.Staffs;

<PageTitle>Maak een afspraak</PageTitle>


<div class=" container mx-auto lg:px-20 h-fit">
    <section class="min-h-[calc(100vh-65px)] flex flex-col justify-start items-center">
                    <div class="flex flex-col items-center h-full pt-16 pb-10">
            <h1 class="text-[#00284F] text-[36px] font-bold">Maak een afspraak</h1>
            <img src="divider.png" class="w-[56px] h-[8px]" />
            </div>
        <SfTab @bind-SelectedItem="@SelectedItem">
            <TabItems>
                <TabItem>
                    <ContentTemplate>
                                                <div class="w-full flex justify-center">
                        <div class="flex flex-col space-y-4 w-[400px] items-start">
                            <h1 class="text-3xl font-bold">Basisgegevens</h1>
                                    <div class="w-full min-h-[40px]">
                                        <p class="text-[#00284F]">Voornaam</p>
                                        <SfTextBox class="min-h-[40px] w-full rounded-[5px] focus-visible:outline-none border border-slate-300 px-2" CssClass="e-corner h-[32px]" Placeholder='Jan'></SfTextBox>
                                    </div>
                                    <div class="w-full min-h-[40px]">
                                        <p class="text-[#00284F]">Achternaam</p>
                                        <SfTextBox class="min-h-[40px] w-full rounded-[5px] focus-visible:outline-none border border-slate-300 px-2" CssClass="e-corner h-[32px]" Placeholder='Appelman'></SfTextBox>
                                    </div>
          <div class="w-full">
                 <p class="text-[#00284F]">Geboortedatum</p>
                 <SfDatePicker class="min-h-[40px] w-full rounded-[5px] focus-visible:outline-none border border-slate-300 px-2" TValue="DateTime?" Placeholder='23/12/1995'></SfDatePicker>
             </div>
                          <div class="w-full">
                 <p class="text-[#00284F]">GSM-nummer</p>
                 <SfMaskedTextBox Mask="+324 00 00 00 00" class="min-h-[40px] w-full rounded-[5px] focus-visible:outline-none border border-slate-300 px-2"></SfMaskedTextBox>
             </div>
                          <div class="w-full">
                 <p class="text-[#00284F]">Email</p>
                 <SfTextBox class="min-h-[40px] w-full rounded-[5px] focus-visible:outline-none border border-slate-300 px-2" CssClass="e-corner h-[32px]" Placeholder='Jan.Appelman@gmail.com'></SfTextBox>
             </div>
                                <button @onclick="IncrementSelectedItem">Volgende</button>
                        </div>
                        </div>
                    </ContentTemplate>
                    </TabItem>
                    <TabItem>
                    <ContentTemplate>
                        <div class="w-full flex justify-center">
                            <div class="flex flex-col space-y-4 w-[400px] items-start">
                                <h1 class="text-3xl font-bold">Verifieer GSM-nummer</h1>
                                <p>Uw gsm nummer staat nog niet geverifieerd in ons systeem. Door het verifieren kunnen wij ervan uitgaan dat de afspraak door een mens aangemaakt is.</p>
                                <div class="w-full min-h-[40px]">
                                    <p class="text-[#00284F]">Code</p>
                                    <SfTextBox class="min-h-[40px] w-full rounded-[5px] focus-visible:outline-none border border-slate-300 px-2" CssClass="e-corner h-[32px]" Placeholder='1234'></SfTextBox>
                                </div>
                                <button @onclick="IncrementSelectedItem">Verifieren</button>
                            </div>
                        </div>
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    <ContentTemplate>
                        <div class="w-full flex justify-center">
                            <div class="flex flex-col space-y-4 w-[400px] items-start">
                                <h1 class="text-3xl font-bold">Plan uw afspraak</h1>
                                <div class="w-full">
                                    <p class="text-[#00284F]">Datum afspraak</p>
                                    <SfDatePicker Value="@d" Min="@d" class="min-h-[40px] w-full rounded-[5px] focus-visible:outline-none border border-slate-300 px-2" TValue="DateTime?" Placeholder=''></SfDatePicker>
                                </div>
                                <div class="w-full">
                                    <p class="text-[#00284F]">Tijdslot</p>
                                    <SfComboBox class="min-h-[40px] w-full rounded-[5px] focus-visible:outline-none border border-slate-300 px-2" TValue="string" TItem="string" Placeholder="Selecteer tijdslot"></SfComboBox>
                                </div>
                                <div class="w-full">
                                    <p class="text-[#00284F]">Afspraak met</p>
                                    <SfDropDownList DataSource="@doctors" TItem="@Doctor" class="min-h-[40px] w-full rounded-[5px] focus-visible:outline-none border border-slate-300 px-2" TValue="string" TItem="string" Placeholder="Selecteer een arts">
                                        <DropDownListFieldSettings Text="FullName" Value="Id"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                </div>
                                <div class="class=" w-full"">
                                    <p class="text-[#00284F]">Reden voor afspraak</p>
                                    <textarea class="w-[400px] h-[148px] rounded-[10px] border-[1px] border-[#D1D1D1] p-2"></textarea>
                                </div>
                                <PopupConfirmation/>
                            </div>
                        </div>
                    </ContentTemplate>
                </TabItem>
            </TabItems>
        </SfTab>
    </section>
</div>

<style>
    .e-input-group.e-corner {
        height: 40px;
    }
    .e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input {
        font-size: 20px;
        height: 40px;
    }
    .e-datetimepicker.e-popup {
        height: fit-content;
}

    .e-tab .e-tab-header {
        display:none;
    }
</style>

@code {
    private int SelectedItem { get; set; } = 0;
    DateTime d = DateTime.Today;

    List<MockTeammember> Doctorslist = MockTeamConstants.DOCTORLIST;
    private void IncrementSelectedItem()
    {
        SelectedItem++;
    }
    List<string> AvailableHours = new List<string>
    {
        "10:00",
        "10:15",
        "10:30",
        "11:00",
        "13:30",
        "15:00",
        "15:15",
        "15:45",
        "16:00",
        "17:45",

    };

    
}